{% extends "layout.html" %}

{% block title %}
    Main Menu
{% endblock %}

{% block main %}


<script>
        $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>

<button type="button" onclick="window.location.href='/'">Go back Home</button>

<form action="/recipelist" method="post" id = "recipe">
<table class = "table">
  <tr>
      <th scope="col">Recipe</th>
      <th scope="col">Image</th>

  </tr>
  {% for n in recipes %}
      <tr>
          <th scope="col">{{ n.recipe_name }} </th>
          <th scope="col"><button type="submit" name="recipeid" value="{{n.recipe_id}}"  > <img class="img-fluid" src="data:image/png;base64,{{ n.display_image  }}" alt="{{n.recipe_name}}"></button></th>
          <th scope="col">
            <button type="submit" name="addweekrecipe" value="{{n.recipe_id}}">Add Recipe for this Week</button>
            <button type="submit" name="addnextweekrecipe" value="{{n.recipe_id}}">Add Recipe for Next Week</button>
             </th>
      </tr>
  {% endfor %}

</table>
</form>
{% endblock %}
