{% extends "layout.html" %}

{% block title %}
    Main Menu
{% endblock %}

{% block main %}
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>

<br>
<div>
    <form class="form-inline" method="post" action="/viewrecipe" id="viewrecipe">
        <div class="form-group">
            <select id="ingredients" name="ingredients" class="js-example-basic-multiple" multiple="multiple">
                {% for n in ingredients %}
                    <option value="{{ n[1] }}">{{n[0]}}</option>
                {% endfor %}
            </select>
            <input type='submit'>
        </div>
    </form>
</div>
<br>

<h1 class="text-center">Recipes</h1>
<div class="container">
    <div class="row">
        {% for i in recipes %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="{{ url_for('static', filename=i.display_image) }}" alt="{{i.recipe_name}}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{i.recipe_name}}</h5>
                        <form method="post" action="/recipesteps" target="_parent" id="recipesteps">
                            <button type="submit" name="recipeid" value="{{i.recipe_id}}" class="btn btn-primary mb-2">View Recipe</button>
                            <button type="submit" name="addweekrecipe" value="{{i.recipe_id}}" class="btn btn-secondary mb-2">Add Recipe for this Week</button>
                            <button type="submit" name="addnextweekrecipe" value="{{i.recipe_id}}" class="btn btn-secondary">Add Recipe for Next Week</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
