{% extends "layout.html" %}

{% block title %}
    Main Menu
{% endblock %}

{% block main %}

<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>

<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Go back Home</button>
        <div>
            {% set urlprev = url_for('weekplan', week=week|int - 1, year=year) %}
            {% set urlnext = url_for('weekplan', week=week|int + 1, year=year) %}
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{urlprev}}'">Previous Week</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{urlnext}}'">Next Week</button>
        </div>
    </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Recipe</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Sugar</th>
                    <th scope="col">Fat</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {% for n in recipes %}
                    <tr>
                        <td>{{ n.recipe_name }}</td>
                        <td>{{ n.nutrition.calories }}</td>
                        <td>{{ n.nutrition.sugar }}</td>
                        <td>{{ n.nutrition.fat }}</td>
                        <td>

                        <form action="/recipesteps" method="post" id="recipe">
                            <button type="submit" name="recipeid" value="{{n.recipe_id}}" class="btn btn-link p-0">
                                <img src="{{ url_for('static', filename=n.display_image) }}" alt="{{n.recipe_name}}" class="img-fluid" style="max-width: 200px;">
                            </button>

                        </form>
                        </td>
                        <td>
                            <form action="{{ url_for('weekplan', week=week, year=year) }}" method="post">
                                <input type="hidden" name="recipeid" value="{{n.recipe_id}}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <h2 class="mt-5">Ingredients</h2>
    <div class="row">
        {% for n in ingredients %}
            <div class="col-md-3 text-center mb-4">
                <div class="card h-100">
                    <img class="card-img-top rounded-circle mx-auto mt-3" src="{{ url_for('static', filename=n.display_image) }}" alt="ingredient" style="max-width: 50px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ n.ingredient }}</h5>
                        <p class="card-text">{{ n.amount }} {{ n.unit }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
